@{
    ViewData["Title"] = "Home Page";
}


<style>
    h3 {
        font-family: 'Times New Roman', Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        font-style: oblique;
        color:''
    }
</style>
<div class="text-center">
    <h3 class="display-4">Bem-vindo(a) à Ferramenta para<br /> Consultas de Dados em HTML</h3>

</div>
