@model VersionClient.Models.Client
@{
    ViewData["Title"] = "Excluir Cliente";
}

<h3 align="center">@ViewData["Title"]</h3>

<hr />
<h4>Confirmar Exclusão? </h4>

<div>


    <dl class="d-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameClient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameClient)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdClient" />
        <input type="submit" value="Excluir" class="btn btn-success" />
        <a asp-action="Index" class="btn btn-info">Voltar</a>
    </form>
</div>