@model VersionClient.Models.UrlClient

@{
    ViewData["Title"] = "Exluir Endereço";
}

<h3 align="center">@ViewData["Title"]</h3>

<hr />
<h4>Confirmar Exclusão? </h4>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>


    <form asp-action="Delete">
        <input type="hidden" asp-for="IdUrlClient" />
        <input type="submit" value="Excluir" class="btn btn-success" />
        <a asp-action="Index" class="btn btn-info">Voltar</a>
    </form>
</div>
